// variables
$toneColor = green;
$textColor = white;
$bgColor = #2e2e2e;

//base styles
html{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.25em;
}
body{
  margin: 0;
  padding: 0;
  color: $textColor;
  font-family: 'Arial', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}
a{
  color: $textColor;
  text-decoration: none;
}
a:hover{
  color: $textColor;
  text-decoration: underline;
}
body * {
  box-sizing: border-box;
  outline: none;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
  margin: 0;
  padding: 0;
}
p{
  padding: 0 0 10px 0;
  margin: 0;
}
.clearfix:after{
  display: block;
  content: '';
  clear: both;
}
img{
  max-width: 100%;
  height: auto;
}
.content{
  max-width: 1920px;
  margin: 0 auto;
}
h1{
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 40px 0;
  color: @textColor;
  line-height: 1.1em;
}
//****
.section
	border 1px solid $toneColor
	min-height 100vh
.section.intro-block
	background-color $bgColor
.section.footer-block
	min-height 100px
	background-color $bgColor