mixin b-intro
    .container
      .py-5.text-center
        img.d-block.mx-auto.mb-4(src='https://getbootstrap.com/assets/brand/bootstrap-solid.svg' alt='' width='72' height='72')
        h2 Форма замовлення
      .row
        .col-md-4.order-md-2.mb-4
          h4.d-flex.justify-content-between.align-items-center.mb-3
            span.text-muted Кошик
            span.badge.badge-secondary.badge-pill 3
          ul.list-group.mb-3
            li.list-group-item.d-flex.justify-content-between.lh-condensed
              div
                h6.my-0 Назва продукту
                small.text-muted Короткий опис
              span.text-muted $12
            li.list-group-item.d-flex.justify-content-between.lh-condensed
              div
                h6.my-0 Продукт
                small.text-muted Короткий опис
              span.text-muted $8
            li.list-group-item.d-flex.justify-content-between.bg-light
              .text-success
                h6.my-0 Промо код
                small test093472
              span.text-success -$5
            li.list-group-item.d-flex.justify-content-between
              span Всього (USD)
              strong $20
          form.card.p-2
            .input-group
              input.form-control(type='text' placeholder='Промо код')
              .input-group-append
                button.btn.btn-secondary(type='submit') Примінити
        .col-md-8.order-md-1
          h4.mb-3 Платіжна адреса
          form.needs-validation(novalidate='')
            .row
              .col-md-6.mb-3
                label(for='firstName') Ім'я
                input#firstName.form-control(type='text' placeholder='' value='' required='')
                .invalid-feedback
                  | Valid first name is required.
              .col-md-6.mb-3
                label(for='lastName') Прізвище
                input#lastName.form-control(type='text' placeholder='' value='' required='')
                .invalid-feedback
                  | Valid last name is required.
            .mb-3
              label(for='username') Нікнейм
              .input-group
                .input-group-prepend
                  span.input-group-text @
                input#username.form-control(type='text' placeholder='Нікнейм' required='')
                .invalid-feedback(style='width: 100%;')
                  | Your username is required.
            .mb-3
              label(for='email')
                | Пошта
                span.text-muted (Опціонально)
              input#email.form-control(type='email' placeholder='info@se7ensky.com')
              .invalid-feedback
                | Please enter a valid email address for shipping updates.
            .mb-3
              label(for='address') Адреса
              input#address.form-control(type='text' placeholder='вул. Воздвиженська 34А' required='')
              .invalid-feedback
                | Please enter your shipping address.
            .row
              .col-md-5.mb-3
                label(for='country') Країна
                select#country.custom-select.d-block.w-100(required='')
                  option(value='') Виберіть...
                  option Україна
                .invalid-feedback
                  | Please select a valid country.
              .col-md-4.mb-3
                label(for='state') Область
                select#state.custom-select.d-block.w-100(required='')
                  option(value='') Виберіть...
                  option Волинська
                .invalid-feedback
                  | Please provide a valid state.
              .col-md-3.mb-3
                label(for='zip') Індекс
                input#zip.form-control(type='text' placeholder='' required='')
                .invalid-feedback
                  | Zip code required.
            hr.mb-4
            .custom-control.custom-checkbox
              input#same-address.custom-control-input(type='checkbox')
              label.custom-control-label(for='same-address') Адреса доставки відповідає моїй платіжній адресі
            .custom-control.custom-checkbox
              input#save-info.custom-control-input(type='checkbox')
              label.custom-control-label(for='save-info') Збережіть цю інформацію на наступний раз
            hr.mb-4
            h4.mb-3 Оплата
            .d-block.my-3
              .custom-control.custom-radio
                input#credit.custom-control-input(name='paymentMethod' type='radio' checked='' required='')
                label.custom-control-label(for='credit') Кредитна карта
              .custom-control.custom-radio
                input#debit.custom-control-input(name='paymentMethod' type='radio' required='')
                label.custom-control-label(for='debit') Дебетова карта
              .custom-control.custom-radio
                input#paypal.custom-control-input(name='paymentMethod' type='radio' required='')
                label.custom-control-label(for='paypal') PayPal
            .row
              .col-md-6.mb-3
                label(for='cc-name') Ім'я на карті
                input#cc-name.form-control(type='text' placeholder='' required='')
                small.text-muted Повне ім'я на платіжній картці
                .invalid-feedback
                  | Name on card is required
              .col-md-6.mb-3
                label(for='cc-number') Номер карти
                input#cc-number.form-control(type='text' placeholder='' required='')
                .invalid-feedback
                  | Credit card number is required
            .row
              .col-md-3.mb-3
                label(for='cc-expiration') Термін дії
                input#cc-expiration.form-control(type='text' placeholder='' required='')
                .invalid-feedback
                  | Expiration date required
              .col-md-3.mb-3
                label(for='cc-cvv') CVV
                input#cc-cvv.form-control(type='text' placeholder='' required='')
                .invalid-feedback
                  | Security code required
            hr.mb-4
            button.btn.btn-primary.btn-lg.btn-block(type='submit') Продовжити
      footer.my-5.pt-5.text-muted.text-center.text-small
        
